#desktop {
    position: absolute;
    inset: 0;
    background-image: url('https://picsum.photos/1280/800?blur');
    background-size: cover;
    background-position: center;
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    gap: 128px;

    font-size: 16px;
    font-weight: 400;

    .system-bar {
        position: absolute;
        color: white;
        font-family: system-ui, sans-serif;
        left: 0;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        justify-content: center;
        padding: 0.5em;
    }

    .app-icon {
        position: relative;
        width: 64px;
        height: 64px;
        border-radius: 25%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        background-color: var(--color-orange);
        display: flex;
        justify-content: center;
    }

    .app-icon::after {
        content: "SuperTuxKart";
        position: absolute;
        bottom: -32px;
        font-size: 16px;
        padding: 0 0.25em;
        text-shadow: 0 1px 5px black;
        -webkit-text-stroke: 1px black;
        paint-order: stroke fill;
        display: flex;
        justify-content: center;
        border-radius: 0.333em;
    }

    .app-icon.focussed::after {
        color: var(--color-grey-3);
        background-color: rgba(255, 255, 255, 0.5);
        text-shadow: none;
        -webkit-text-stroke: none;
    }


    .app-icon.focussed::before {
        content: " ";
        position: absolute;
        width: calc(64px + 1em);
        height: calc(64px + 1em);
        left: -0.666em;
        top: -0.666em;
        border: 2px solid rgba(255, 255, 255, 0.25);
        border-radius: 1.25em;
    }

    .notes {
        padding: 2rem;
        background-color: rgba(96, 96, 96, 0.75);
        border: 1px dashed white;
        border-radius: 30px;
        background-blend-mode: screen;

        table,
        p+p {
            margin-top: 1em;
        }

        td {
            padding: 0.5em;
        }

        td:first-child {
            text-align: center;
        }
    }
}