#title-screen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;

    .logo {
        width: 100%;
        max-width: 640px;
        aspect-ratio: 1;
    }

    .loading {
        position: absolute;
        width: 10rem;
        gap: 0.333em;


        .progress {
            position: relative;
            width: 10rem;
            padding: 2px;
            width: 10rem;
            height: .5em;
            border-radius: calc(0.25em + 2px);
            background-color: rgba(var(--color-grey-3-rgb), 0.75);
        }

        .progress .slider {
            content: " ";
            border-radius: 0.25em;
            width: 0%;
            height: 100%;
            background-color: var(--color-yellow);
            box-shadow: 0 0.2em 0 rgba(0, 0, 0, 0.3),
            0 -2px 0 inset rgba(0, 0, 0, 0.2);
            overflow:hidden;
        }
        
        .progress .slider:after {
            content: " ";
            position: absolute;
            border-radius: 0.333em;
            inset: 0;
            opacity: 0.2;
            mix-blend-mode: overlay;
        }

        .progress .slider:after {
            background: linear-gradient(180deg, white 20%, black 80%);
        }

        .label {
            margin-top: 0.5em;
            width: 100%;
            text-align: center;
        }
    }

    .start-button {
        opacity: 0;
    }

}